<div class="container">
  <h3>Alta de cliente</h3>

  <div class="form-group row">
    <label for="Nombre" class="col-sm-2 col-form-label">
      Nombre:
    </label>
    <div class="col-sm-10">
      <input id="Nombre" class="form-control" placeholder="Nombre" value="{{nombreQueryString}}"/>
    </div>
  </div>
  <br />
  <div class="form-group row">
    <label for="Email" class="col-sm-2 col-form-label">
      Email:
    </label>
    <div class="col-sm-10">
      <input id="Email" class="form-control" type="email" placeholder="Email" value="{{emailQueryString}}" />
    </div>
  </div>
  <br />
  <div class="form-group row">
    <label for="Password" class="col-sm-2 col-form-label">
      Password:
    </label>
    <div class="col-sm-10">
      <input id="Password" class="form-control" type="password" placeholder="Password" />
    </div>
  </div>
  <br />
  <div class="row">
    <button class="btn btn-primary" (click)="Alta()">Guardar</button>
    <!--<app-inicio-component></app-inicio-component>-->
  </div>
</div>
