<!--<h1> <strong> {{Libreria}} </strong></h1>
 
<button class="btn btn-primary" (click)="CambioNombre()">CambioNombre</button>-->
<div class="jumbotron text-center">
  <h1><strong>{{Libreria}}</strong></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Bienvenido</h3>
      <!--<app-cliente-component> </app-cliente-component>-->
      <p>
        Gracias por visitar nuestro nuevo sitio web. asdafasasdf a as ds asd asfsa f as dsa dsa dsa dsa ds ad asd as dsa das d a sas ad sa ad sad sa dsa
        ad asdsa  ad sa da  da ds ad asdas d asd sa dsa d asd sa das dsa ds adsa d as das da

        adsas das d ad sad as dsa ad as

        asd asd sad asds as sad da as fa gq g eqweqw  fa s a afsdgfrgwte rfdfd ewedfsder
        adsf gf das dsfg trweds fdgy terw dcvdfg rte rdascd vfg hyr terweasds fd g  re
      </p>
    </div>
  </div>
  <div class="row">
    <button class="btn-primary btn-primary" (click)="Navegar()">Alta Cliente</button>
  </div>
  <!--<app-cliente-component nombre="juan" email="mail@mail.es"></app-cliente-component>-->

</div>
